name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Ganeshtiwari681
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: actions/upload-artifact@v4
        with:
          name: snake-svg
          path: dist/github-contribution-grid-snake-dark.svg

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: output
